@model u21652296ToDoList.Models.ListItemPriority

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ListItemPriority</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PriorityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriorityName)
        </dd>

    </dl>
</div>
<p>

    @Html.ActionLink("Back to List", "Index")
</p>
